* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #333 ;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

h1{
  color: rgb(224, 224, 224);
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-de-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 50px;
}

/*Lista de tareas*/

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #61888a;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}
